.content {
   &__resources {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      margin-bottom: 20px;
   }

   &__clicker {
      position: relative;
      width: 200px;
      height: 200px;
      margin: 0 auto;
      margin-bottom: 20px;
      border-radius: 50%;
      user-select: none;
      cursor: pointer;

      &:hover img,
      &:focus img {
         border: 2px solid #2cb1b1;
      }

      &:focus {
         outline: none;
      }
   }

   &__control {
      display: flex;
      flex-wrap: wrap;
      grid-gap: 5px;
   }
}
